@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar{
  display: none;
}

.heading1 {
  @apply font-heading1 text-4xl font-bold;
}

.heading2 {
  @apply font-heading2 text-3xl font-semibold;
}

.description {
  @apply font-description text-lg font-light;
}

.ny-times {
  @apply font-nyTimes text-2xl font-black;
}